<!-- Start Login Form -->
<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="vm.open()">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Center Align" ng-click="vm.activate()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Right Align" ng-if="vm.search === false" ng-click="vm.clickSearch(true);">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        <div class="input-group" style="width: 200px;" ng-if="vm.search === true">
            <input type="text" class="form-control" style="-ms-border-radius:0; border-radius:0;border-left:0;" placeholder="Search" ng-model="vm.searchText">
            <div class="input-group-btn">
                <button class="btn btn-default" aria-label="Right Align" ng-click="vm.clickSearch(false)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Schedule Name</th>
                <th>Description</th>
                <th>Time</th>
                <th>Binded Bus</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th ng-if="authorised">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="schedule in vm.schedules | filter: vm.searchText">
                <td>{{$index}}</td>
                <td>{{schedule.scheduleName}}</td>
                <td>{{schedule.scheduleDes}}</td>
                <td>{{schedule.scheduleTime | date:'HH:mm:ss'}}</td>
                <td>
                    <a ui-sref="buses({busId:schedule.bus._id})">
                        {{schedule.bus.busName}}
                    </a>
                </td>
                <td>{{schedule.createdBy.userName}}</td>
                <td>{{schedule.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{schedule.lastUpdatedBy.userName}}</td>
                <td>{{schedule.lastUpdatedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td ng-if="authorised">
                    <a href="javascript:void(0);" ng-click="vm.open('detail', schedule._id)">Detail</a>
                    <!--<a href="javascript:void(0);" ng-click="vm.open()">Add</a>-->
                    <a href="javascript:void(0);" ng-click="vm.open('update', schedule._id, $index)">Update</a>
                    <a href="javascript:void(0);" ng-click="vm.deleteById(schedule._id, $index)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row" style="text-align: center">
        <pagination total-items="vm.count" ng-model="vm.pageIndex" max-size="vm.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="vm.pageChanged()" items-per-page="vm.pageSize"></pagination>
    </div>
</div>
<!-- End Login Form -->