<!-- Start Login Form -->
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Bus Name</th>
                <!--<th>Description</th>-->
                <th>Number</th>
                <th>Owner</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Updated By</th>
                <th>Updated Date</th>
                <th ng-if="authorised">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bus in vm.buses">
                <td>{{$index}}</td>
                <td>{{bus.busName}}</td>
                <!--<td>{{bus.busDes}}</td>-->
                <td>{{bus.busNumber}}</td>
                <td>{{bus.busOwner}}</td>
                <td>{{bus.busOwnerNumber}}</td>
                <th>{{bus.busStatus}}</th>
                <td>{{bus.createdBy.userName}}</td>
                <td>{{bus.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{bus.lastUpdatedBy.userName}}</td>
                <td>{{bus.lastUpdatedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td ng-if="authorised">
                    <a href="javascript:void(0);" ng-click="vm.open('detail', bus._id)">Detail</a>
                    <a href="javascript:void(0);" ng-click="vm.open()">Add</a>
                    <a href="javascript:void(0);" ng-click="vm.open('update', bus._id, $index)">Update</a>
                    <a href="javascript:void(0);" ng-click="vm.deleteBusById(bus._id, $index)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="vm.count" ng-model="vm.pageIndex" max-size="vm.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" ng-change="vm.pageChanged()" items-per-page="vm.pageSize"></pagination>
</div>
<!-- End Login Form -->